:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

.foodCard {
    max-width: 240px;
    max-height: 386px;
    min-width: 150px;
    min-height: 248px;
    border-radius: 10px;
    border-color: white;
}

.foodCardSm {
    width: 240px;
    height: 386px;
    border-radius: 10px;
    border-color: white;
}

.imgForm{
    min-width: 132.35px;
    min-height: 92.11px;
    max-width: 210px;
    max-height: 142.25px;
    border-radius: 20px;
}

.imgFormSm{
    width: 220px;
    height: 152.25px;
    border-radius: 27.47px;
}

.infBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    padding: 10px 9px 0;
}

.infBlockSm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    padding: 15px 9px 0;
}

.cardBlock{
    display: flex;
    flex-direction: column;
}

.foodName{
    height: 45px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.cardButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9px;
    min-width: 134.18px;
    min-height: 37.63px;
    max-width: 210px;
    max-height: 57.1px;
    border-radius: 10px;
    background: #E8E8E8;
    border-color: #E8E8E8;
}

.cardButton:hover{
    background: #E8E8E8;
    border-color: #E8E8E8;
}

.cardButton:active{
    background: #D6D6D6 !important;
    border-color: #D6D6D6 !important;
}

.cardButtonSm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 210px;
    height: 57.1px;
    border-radius: 10px;
    background: #E8E8E8;
    border-color: #E8E8E8;
}

.cardButtonSm:hover{
    background: #E8E8E8;
    border-color: #E8E8E8;
}

.cardButtonSm:active{
    background: #D6D6D6 !important;
    border-color: #D6D6D6 !important;
}

.addInfBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 8px;
}

.gramBlock{
    margin-bottom: 0;
    padding: 0 9px 10px;
}

.costBlock{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.gramText{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}

.text{
    width: 10px;
    height: 17px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.textAdd{
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
