:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

.foodCard {
    width: 642px;
    height: 49px;
    border-radius: 10px;
    border-color: white;
}

input[type="checkbox"] {
    display: none;
}

label {
    padding-left: 22px;
    cursor: pointer;
}

label::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    border: 3px solid #F05654;
}

input[type="checkbox"]:checked + label::before {
    content: '';
    background-size: 115%;
    background-position: center;
    background-image: url("./tick_component.png")
}

.infBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}

.cardBlock{
    display: flex;
    flex-direction: row;
    gap: 27px;
    margin-top: auto;
    margin-bottom: auto;
}

.addInfBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textAdd{
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
