.orderButton{
    padding: 10px 20px;
    background: #F05654 !important;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.orderButton:hover{
    color: #FFFFFF;
}

.orderButton:active{
    background-color: #F2726F !important;
    border-color: #F2726F !important;
    color: #FFFFFF !important;
}

.cardButton{
    border-radius: 10px;
    background: #E8E8E8;
    border-color: #E8E8E8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.cardButton:hover{
    background: #E8E8E8;
    border-color: #E8E8E8;
}

.cardButton:active{
    background: #D6D6D6 !important;
    border-color: #D6D6D6 !important;
}

.cardButtonCook{
    border-radius: 10px;
    background: #E8E8E8;
    border-color: #E8E8E8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.cardButtonCook:hover{
    background: #E8E8E8;
    border-color: #E8E8E8;
}

.cardButtonCook:active{
    background: #D6D6D6 !important;
    border-color: #D6D6D6 !important;
}
